#section5__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.5rem 0;
    height: auto;
    background-color: var(--background);
}

.blog__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 20.8px;
    text-transform: uppercase;
    color: var(--mouse-hover);
    margin-bottom: 0.5rem;
}

.blog__article {
    padding: 1rem;
}

.blog__article_title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.blog__article_subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.blog__article_paragraph {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-indent: 1.5rem;
}

#lessTextA1,
#lessTextA2 {
    line-height: 16px;
}

#myBtnA1,
#myBtnA2 {
    background-color: transparent;
    border: none;
    color: var(--mouse-hover);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (min-width:1024px) {
    .blog__article {
        padding: 1rem 22rem;
    }

    .blog__article_title {
        font-size: 1.5rem;
    }

    .blog__article_paragraph {
        text-align: justify;
    }

}