#section5__certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    height: auto;
    background-color: var(--background2);
}
.header__certificate {
    margin: 2rem 0;
}

.certificate__title {
    color: var(--main-color);
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 20.8px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1rem;
}
.certificate__box {
    display: flex;
    flex-direction: column;
    width: 19.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--background);
    border-radius: 10px;
    padding: 0.625rem;
    align-items: flex-start;
    margin: 1rem;
}

.certificate__pdf,
iframe {
    border-radius: 10px;
    width: 100%;
    height: 13.5rem;
}

.description {
    width: 100%;
    background-color: var(--background2);
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0.5rem;

}

.description h2 {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.description p {
    font-size: 1rem;
}

#lessText1,
#moreText1,
#lessText2,
#moreText2,
#lessText3,
#moreText3,
#lessText4,
#moreText4,
#lessText5,
#moreText5,
#lessText6,
#moreText6,
#lessText7,
#moreText7,
#lessText8,
#moreText8 {
    line-height: 16px;
}


#myBtn1,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7,
#myBtn8 {
    background-color: transparent;
    border: none;
    color: var(--mouse-hover);
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.description__course_workload {
    margin-top: 1rem;
}


@media screen and (min-width:768px) {
    .certificate__box {
        width: 34.5rem;
    }

    .certificate__pdf,
    iframe {
        height: 24rem;

    }
}

@media screen and (min-width:1024px) {
    .certificate {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
    }

    .certificate__box {
        width: 29.5rem;
    }

    .certificate__pdf,
    iframe {
        height: 20.4rem;
    }
}