.footer {
    text-align: center;
    background: var(--main-color);
    width: 100%;
    padding: 1.5rem 1.5rem 1rem;
}

.footer__title {
    font-weight: 200;
    font-size: 0.875rem;
    margin: 0 0 1rem;
    line-height: 14px;
    color: var(--white);
}

.social__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social__link_footer {
    line-height: 16px;
}

.social__icon_footer {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--white);
}