
.rodape {
    text-align: center;
    background: var(--background-hover);
    width: 100%;
    margin-top: 2rem;
    padding: 1.5rem;
}

.rodape__titulo {
    font-weight: 200;
    font-size: 0.875rem;
    margin: 0 0 1rem;
    line-height: 14px;
}

.rodape__redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link__redes_rodape{
    line-height: 16px;
}
.icone__redes_rodape {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--font-color);
}

