.cabecalho {
    border-bottom: 1px solid var(--main-color);
}

.icone__dev {
    width: 25px;
    height: 25px;
    margin: 0 1rem 0 0;
}

.navegacao__item {
    list-style: none;
}

.navegacao__link,
.navegacao__titulo {
    font-weight: 500;
    color: var(--main-color);
    text-decoration: none;
}

.navegacao__barra,
.navegacao__titulo {
    min-height: 3.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 0.5rem;
}

.navegacao__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.navegacao__titulo {
    font-size: 1.2rem;
}

.navegacao__link {
    font-size: 1.2rem;
    transition: 0.3s ease;
}

.navegacao__link:hover {
    color: var(--mouse-hover);
}

.menu__hamburgue {
    display: none;
    cursor: pointer;
}

.barra {
    display: block;
    width: 1.5625rem;
    height: 0.1875rem;
    margin: 0.3125rem auto;
    -webkit-transition: all 0, 3s ease-in-out;
    transition: all 0, 3s ease-in-out;
    background-color: var(--main-color);
    border-radius: 0.3125rem;
}

@media(max-width:768px) {
    .menu__hamburgue {
        display: block;
    }

    .menu__hamburgue.active .barra:nth-child(2) {
        opacity: 0;
    }

    .menu__hamburgue.active .barra:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu__hamburgue.active .barra:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navegacao__menu {
        position: fixed;
        right: -100%;
        top: 3.75rem;
        gap: 0;
        flex-direction: column;
        background-color: var(--background);
        border-bottom: 1px solid var(--main-color);
        border-left: 1px solid var(--main-color);
        width: 50%;
        text-align: center;
        transition: 0.5s;
        border-bottom-left-radius: 0.625rem;
        padding: 1rem 0;
    }

    .navegacao__item {
        margin: 0.75rem 0;
    }

    .navegacao__menu.active {
        right: 0;
    }
}