#section1__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 4rem;
    height: auto;
    background-color: var(--background2);
}

.picture {
    margin-top: 2rem;
}

.my__name {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 28px;
    color: var(--main-color);
    margin: 1rem 0 0.5rem;
}

.lacation {
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s ease;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    outline: none;
}

.lacation:hover {
    color: var(--mouse-hover);
}

.lacation:focus {
    color: var(--mouse-hover);
}

.location__icon {
    width: 0.9rem;
    height: 0.9rem;
    fill: var(--main-color);
}

.social__medias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: 0.3s ease;
}

.social__medias_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    width: 100%;
    border-radius: 50%;
    font-size: 1.375rem;
    line-height: 22px;
    padding: 1rem;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease;
    outline: none;
}

.social__medias_link:hover {
    background-color: var(--mouse-hover2);
}

.social__medias_link:focus {
    background-color: var(--mouse-hover2);
}

.social__icon {
    fill: var(--main-color);
    width: 1.375rem;
    height: 1.375rem;
}


@media(min-width:768px) {

    .my__picture {
        margin-bottom: 0.5rem;
    }

    .my__name {
        margin: 0.9rem;

    }

    .social__medias {
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        /* width: 10%; */
    }

}