
#myBtnScroll {
    display: none;
    position: fixed;
    bottom: 6.5rem;
    right: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--mouse-hover);
    cursor: pointer;
    border-radius: 50%;
    line-height: 5px;
}

.arrow__up {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width:768px) {
    #myBtnScroll {
        right: 1.5rem;
    }
}