@import url("/assets/CSS/header.css");
@import url("/assets/CSS/information.css");
@import url("/assets/CSS/about.css");
@import url("/assets/CSS/contact.css");
@import url("/assets/CSS/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2d2e32;
    --white: #f6f6f6;
    --background: #ffffff;
    --background2: #f9f9f9;
    --background3: #2d2e3233;
    --background4: #00000080;
    --mouse-hover: #147efb;
    --mouse-hover2: #1480fb80;
    --color-red: #ff0000;
    --main-font: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--background);
    position: relative;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width de toda a barra de rolagem */
}

body::-webkit-scrollbar-track {
    background: transparent;
    /* cor da área de rastreamento */
}

body::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    /* cor do botão de rolagem*/
    border-radius: 20px;
    /* redondeza do botão de rolagem */
    border: 20px solid transparent;
    /* cria padding em torno do botão de rolagem*/
    height: 4px;
}